<%= render partial: "/layouts/navbar" %>

<div class="col-md-4"></div>
<div class= "panel col-md-4">
<h1>Edit Profile</h1><hr>
<%= form_for @user do |f| %>
	<div>
		<%= f.text_field :name, placeholder: "Name", class: "form-control floating-label"  %>
	</div><br>
	<div>
		<%= f.text_field :email, placeholder: "Email", class: "form-control floating-label"  %>
	</div><br>
	<div>
		<%= f.password_field :password, placeholder: "Password", class: "form-control floating-label"  %>
	</div><br>
	<div>
	<%= f.submit "Edit", :class => "button red btn btn-material-green" %>
	</div>
	<%= f.submit "Cancel", :class => "button red btn btn-material-red" %>
<% end %>
<br>
</div>
<div class="col-md-4"></div>
</div>