<%= render partial: "/layouts/navbar" %>

<div>
 <h3> Welcome, <%= @user.name %>.<br> </h3>
</div>
<br>

<br>
<div class="row">
  <div class="col-md-12">
<!--     <h3>Your Children</h3>
    <% @children.each do |child| %>
    
    <h4><a href = "/children/<%= child.id %>"><%= child.name %></a></h4> 
    <% end %> -->

    <h3>Your Books</h3>
    <% @videos.each do |video| %>
        <div class="yourpost">
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="glyphicon glyphicon-book"></span>
          <span class="glyphicon glyphicon-heart"></span>

          <h4><a href = "/videos/<%= video.id %>"><%= video.title %></a></h4> 
          <h5><%= video.description %></h5>

          <% if @user.id == video.user_id %>
          <a href="/videos/<%=video.id%>/edit"><button type="button" class="btn btn-material-green">Edit</button></a>
          <% end %>
          <br>
              <%= video.embed.html_safe %>


          <% end %>
      </div>
    </div>
  </div>



