<%= render partial: "/layouts/navbar" %>

<div>
 <h3> Welcome, <%= @user.name %>.<br> </h3>
</div>
<br>

<br>
<br>
<div class="row">
  <div class="col-md-12">
    <h3>Your Children</h3>
    <% @children.each do |child| %>
    
    <h4><a href = "/children/<%= child.id %>"><%= child.name %></a></h4> 
    <% end %>

    <h3>Your Videos</h3>
    <% @videos.each do |video| %>
    <div class="yourpost">
      <h4><a href = "/videos/<%= video.id %>"><%= video.title %></a></h4> 
      <h5><%= video.description %></h5>

      <iframe width="720" height="640" src="<%= video.url %>" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  <% end %>

  </div>
</div>



