<%= render partial: "/layouts/navbar" %>

<h1>New Book</h1>
<%= form_for @video do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Book Title", size: "60x12", class: "form" %>
  </div><br>
  <div>
    <%= f.text_area :description, placeholder: "Description of your book", size: "60x3", class: "form" %>
  </div><br><br>
  <div><h5 class="green citycard">1. From the YouTube page, click on the Share link below the video.<br><br>2. Below that, click on the Embed option and copy everything<br>from the box and paste it here in the box below.<br><br></h5><br></div><br>
  <div>
    <%= f.text_field :embed, placeholder: "YouTube 'EMBED' code - all of it", size: "60x12", class: "form" %>  
  </div><br>
  <div>
  	<%= f.check_box :shared, size: "2x2" %>
    <%= f.label "Share this book with other users" %>
  </div>
  <div>
    <%= f.hidden_field :user_id %>
  </div>
  <%= f.submit "Submit", :class => "btn btn-material-green" %>
<% end %> 