<%= render partial: "/layouts/navbar" %>

<h1>All Books</h1>
<% @videos.reverse.each do |post| %>
<!-- <div class="col-md-3"></div> -->
<div class="card shadow-z-2">
<h4><%= video.title %></h4><hr>
<p><%= video.description %></p>
<!--   <% post_author = User.find(post.user_id)%>
  <% post_city = City.find(post.city_id)%>
  <hr>
 <h5> Post by <%=post_author.name%>, about <%=post_city.name%>, with a score of <%= post.get_likes.size - post.get_dislikes.size%>.</h5> -->
</div>