

<div class="navbar navbar-success">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-success-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button><% if @logged_in %>
        <a href="/users/<%= @user.id %>"><% else %><a href="/"><%end%><img src="" height="55"></a>
  </div>
  <div class="navbar-collapse collapse navbar-success-collapse">
    <ul class="nav navbar-nav">
      <% if @logged_in %>
        <li><a href="/users/<%= @user.id %>">My Page</a></li>
        <li class = "dropdown">
          <a href="bootstrap-elements.html" data-target="#" class-"dropdown-toggle" data-toggle="dropdown">Books <b class="caret"></b></a>
            <ul class = "dropdown-menu">
              <!-- <li><a href="/videos">All Books</a></li> -->
              <li><a class="black" href="/videos/new">Add a New Book</a></li>
              <!-- <li><a href="/videos/edit">Edit a Book</a></li> -->
            </ul>

        <li class = "dropdown">
          <a href="bootstrap-elements.html" data-target="#" class-"dropdown-toggle" data-toggle="dropdown">Children <b class="caret"></b></a>
            <ul class = "dropdown-menu">
              <% @children.each do |child| %>
                <div>
                  <li><a class="black" href = "/children/<%= child.id %>"><%= child.name %></a></li> 
                    <% end unless @children.nil? %>
                  <li><a class="black" href = "/children/new" >Add a New Child</a></li>
            </ul>
    <!--<li class="active"><a href="/videos">All Books</a></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/<%= @user.id %>/edit">Edit Profile</a></li>
  			<li><%= link_to "Log out", logout_path, method: :delete %></li>

		  <% else %>
       <li><a href="/">Home</a></li>
			 <li><a href="/sign_up">Sign up</a></li>
		  <% end %>
    
      </ul>
  </div>
</div>

